<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="interview.com.commentssdk">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <receiver
            android:name=".CommentBroadcastReceiver"
            android:process=":remote" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".CommentIntentService"
            android:exported="false" />
    </application>
</manifest>
